	</main>
	<footer class="footer">
		<div class="container">
			<div class="footer__main">
				<a href="#" class="footer__logo"><img src="i/logo.png" alt="Kontinent Build"></a>
				<div class="footer__slogan">
					Официальный дистрибьютер Коношима в России
				</div>
				<div class="footer__action">
					<a href="#" class="footer__action-item"><svg><use xlink:href="#icon-builder"></use></svg>Заявка на расчет материалов</a>
					<a href="#" class="footer__action-item"><svg><use xlink:href="#icon-bricks"></use></svg>Заказать образцы</a>
					<a href="#" class="footer__action-item"><svg><use xlink:href="#icon-construction"></use></svg>Бесплатный дизайн-проект</a>
				</div>
				<div class="footer__cols">
					<div class="footer__col">
						<div class="footer__copyright">
							<p>Все права защищены</p>
							<p>&copy; 1997-2018</p>
						</div>
						<div class="footer__privacy">
							Оставляя свои личные данные. Вы принимаете <a href="#">политику конфиденциальности</a>
						</div>
					</div>
					<div class="footer__col">
						<nav class="footer__nav">
							<div class="footer__nav-title">О компании</div>
							<a href="#" class="footer__nav-item">Вакансии</a>
							<a href="#" class="footer__nav-item">Контроль качества</a>
							<a href="#" class="footer__nav-item">Политика конфиденциальности</a>
							<a href="#" class="footer__nav-item">Полезные материалы</a>
							<a href="#" class="footer__nav-item">Наши объекты</a>
							<a href="#" class="footer__nav-item">Контакты</a>
						</nav>
					</div>
					<div class="footer__col">
						<nav class="footer__nav">
							<div class="footer__nav-title">Продукция</div>
							<a href="#" class="footer__nav-item">О фиброцементных панелях</a>
							<a href="#" class="footer__nav-item">Фасадные панели под штукатурку</a>
							<a href="#" class="footer__nav-item">Фасадные панели под дерево</a>
							<a href="#" class="footer__nav-item">Фасадные панели под кирпич</a>
							<a href="#" class="footer__nav-item">Фасадные панели камень</a>
							<a href="#" class="footer__nav-item">Калькулятор</a>
						</nav>
					</div>
					<div class="footer__col">
						<nav class="footer__nav">
							<div class="footer__nav-title">Где купить</div>
							<a href="#" class="footer__nav-item">Дилеры</a>
							<a href="#" class="footer__nav-item">Приглашаем к сотрудничеству</a>
							<a href="#" class="footer__nav-item">Франшиза</a>
						</nav>
					</div>
					<div class="footer__col footer__contacts">
						<div class="footer__phone">
							<div class="footer__phone-title">Звоните нам по единому номеру:</div>
							<a href="tel:+78005506097" class="footer__phone-number">8 (800) 550-60-97</a>
						</div>
						<div class="footer__workhours">
							<p>Пн. – Пт.:</p>
							<p>с 9:00 до 17:00</p>
						</div>
						<div class="footer__address">
							<div class="footer__address-title">Приезжайте в наш центральный офис:</div>
							<address class="footer__address-main">Москва, ул. Южнопортовая, 5/2</address>
						</div>
						<div class="footer__email">
							<div class="footer__email-title">Пишите:</div>
							<a href="mailto:info@fasad.su" class="footer__email-main">info@fasad.su</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	//= inline-svg.html
	<script>window.jQuery || document.write('<script src="js/jquery.js"><\/script>')</script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
</body>
</html>