@require "vars.styl";

/*  <buttons>  */
input
button
	outline 0
.btn
	display inline-flex
	justify-content center
	align-items center
	height 62px
	color $colorBlue
	font-size 2.4rem
	background-color $colorWhite
	border 0
	border-radius (@height / 2)
	padding 0 20px
	box-shadow 0 5px 0 #d8d7d7
	cursor pointer
	outline 0
	transition all .2s
	&:hover
		text-decoration none
		background-color darken($colorWhite, 5)
	&:active
		background-color darken($colorWhite, 5)
		box-shadow 0 5px 0 transparent
		transform translateY(3px)
	&--orange
		color $colorWhite
		background-color $colorOrange
		box-shadow 0 5px 0 #bb661a
		&:hover
		&:active
			background-color darken($colorOrange, 5)
	&--blue
		color $colorWhite
		background-color $colorBlue
		box-shadow 0 5px 0 #015276
		&:hover
		&:active
			background-color darken($colorBlue, 5)
	&--small
		height 40px
		font-size 1.65rem
		padding 0 40px
	&--large
		height 78px
		font-size 3rem
		border-radius (@height / 2)
		padding 0 40px
	&--fullwidth
		width 100%
/*  </buttons>  */

/*  <inputs>  */
.input-text
.textarea
	width 100%
	height 56px
	font-size 1.8rem
	background-color $colorWhite
	border 0
	padding 0 15px
	outline 0
	&::placeholder
		opacity 1
		color #292929
	&--icon
		padding-left 52px
.textarea
	height 160px
	min-height 160px
	padding 10px 15px
	resize vertical
	transition box-shadow .2s
.input-file
	position absolute
	left -9999px
	& + label
		display inline-flex
		align-items center
		height 52px
		color $colorWhite
		font-weight 300
		font-size 2.1rem
		background-color $colorOrange
		border-radius (@height / 2)
		padding 0 30px
		box-shadow 0 5px 0 #bb661a
		cursor pointer
		transition all .2s
		-webkit-user-select none
		user-select none
		&:hover
			background-color darken($colorOrange, 5)
		&:active
			box-shadow 0 5px 0 transparent
			transform translateY(3px)
		svg
			width 30px
			height 32px
			fill @color
			margin-right 13px
/*  </inputs>  */

/*  <layout>  */
.form
	&__row
		margin-bottom 15px
		&:first-child
			margin-top 0
		&:last-child
			margin-bottom 0
		&--icon
			position relative
			.input-text
				padding-left 52px
				&:focus + svg
					fill $colorOrange
			svg
				position absolute
				top 50%
				left 11px
				width 30px
				height @width
				fill #292929
				transform translateY(-50%)
				transition all .2s
.page-title
	position relative
	font-weight 500
	font-size 3.6rem
	text-transform uppercase
	text-align center
	padding-top 40px
	@media $640
		text-align left
	&::before
		position absolute
		top 0
		left 50%
		width 218px
		height 22px
		content ''
		transform translateX(-50%)
		@media $640
			left 0
			transform none
	&--blue
		&::before
			background-color $colorBlue
	&--green
		&::before
			background-color $colorGreen
	&--orange
		&::before
			background-color $colorOrange
.color
	&-blue
		color $colorBlue
	&-green
		color $colorGreen
	&-orange
		color $colorOrange
	&-gray
		color $colorGray
.no-scroll
	overflow hidden
/*  </layout>  */

/*  <animation>  */
@keyframes fadeIn
	from
		opacity 0
	to
		opacity 1
/*  </animation>  */