$colorText ?= #3f4040;
$colorGreen ?= #38ae25;
$colorOrange ?= #ed8223;
$colorBlue ?= #0098dc;
$colorWhite ?= #fff;
$colorGray ?= #a3a3a2;
$colorRed ?= #a31811;

$480 = 'screen and (min-width:480px)';
$640 = 'screen and (min-width:640px)';
$768 = 'screen and (min-width:768px)';
$1024 = 'screen and (min-width:992px)';
$max1024 = 'screen and (max-width:992px)';
$1280 = 'screen and (min-width:1200px)';
$1440 = 'screen and (min-width:1400px)';
$1680 = 'screen and (min-width:1680px)';