$colorText ?= #3f4040;
$colorGreen ?= #38ae25;
$colorOrange ?= #ed8223;
$colorBlue ?= #0098dc;
$colorWhite ?= #fff;

$480 = 'screen and (min-width:480px)';
$640 = 'screen and (min-width:640px)';
$768 = 'screen and (min-width:768px)';
$1024 = 'screen and (min-width:1024px)';
$1280 = 'screen and (min-width:1280px)';
$1440 = 'screen and (min-width:1440px)';
$1680 = 'screen and (min-width:1680px)';